/* You can add global styles to this file, and also import other style files */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #8ACBD0;
}

main {
  background-color: #EFE3CA ;
  max-width: 65vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
}